@model MyCart

<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>SubTotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartItem item in Model.GetAllCartItem)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><input type="number" id="txtAmount" value="@item.Amount" min="0" onchange="CartUpdate(this.value, @item.ID)" /></td>

                <td>@item.SubTotal</td>

                <td><a href="Javascript:void(0)" class="btn oneMusic-btn m-2" onclick="CartDelete(@item.ID)">DELETE</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                TOPLAM SEPET TUTARI
            </td>
            <td>
                @(Model.GetAllCartItem.Sum(a => a.SubTotal).ToString("C2"))
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <input type="submit" class="btn oneMusic-btn m-2" asp-action="OrderCheck" asp-controller="Order" value="Sepeti Onayla" />

            </td>
        </tr>
    </tfoot>
</table>
